body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333;
}

h1, h2, h3, h4 {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 21px;
  margin: 0 0 20px 0;
  text-align: center;
}

h3 {
  font-size: 18px;
  margin: 10px 0;
}

strong {
  font-weight: 700;
}

section, .contacts {
  padding: 40px 0 40px 0;
}
section:nth-child(odd), .contacts:nth-child(odd) {
  background: #fafafa;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.container {
  padding: 0 20px;
  max-width: 600px;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .container {
    max-width: 800px;
  }
}

img {
  width: inherit;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.description p {
  padding-left: 20px;
  position: relative;
}
.description p:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #1a651a;
  position: absolute;
  top: 4px;
  left: 0;
}

.list {
  margin-top: 20px;
}
.list li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}
.list li:last-child {
  margin-bottom: 0;
}
.list li:before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #1a651a;
  position: absolute;
  top: 8px;
  left: 0;
}

#introduction {
  position: relative;
  padding: 0;
  margin: 0;
  min-height: 300px;
  height: 300px;
  background: linear-gradient(rgba(237, 237, 237, 0.7), rgba(237, 237, 237, 0.8)), url("images/book-computer-design.jpg");
  background-size: cover;
}
#introduction h1 {
  padding: 10px 0;
}
@media (min-width: 768px) {
  #introduction h1 {
    font-size: 56px;
  }
}
@media (min-width: 1024px) {
  #introduction h1 {
    font-size: 56px;
  }
}
#introduction h2 {
  padding: 10px 0;
  font-size: 18px;
}
#introduction h2:after {
  content: "";
  width: 40%;
  height: 1px;
  background: red;
}
@media (min-width: 768px) {
  #introduction h2 {
    font-size: 21px;
  }
}
@media (min-width: 768px) {
  #introduction {
    height: 100vh;
  }
}
#introduction .container {
  display: flex;
  position: relative;
  height: inherit;
}
#introduction .title {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#introduction .title__underline {
  display: block;
  width: 80%;
  height: 1px;
  background: #333;
  margin: 20px 0;
}

.intro-title {
  margin: 15px 0 10px 0;
  text-align: center;
  font-weight: 300;
}
@media (min-width: 1024px) {
  .intro-title {
    font-size: 62px;
  }
}

.section-about p {
  margin-bottom: 15px;
  text-align: left;
}

.section-education .box {
  margin-bottom: 60px;
}
.section-education .year {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 18px;
  position: relative;
}
.section-education h4 {
  margin: 10px 0;
  font-size: 18px;
}
.section-education .description p {
  text-align: left;
}
.section-education .img-holder {
  width: 100%;
  margin-top: 15px;
  border: 1px solid #cccccc;
}
.section-education .img-holder img,
.section-education .img-holder a {
  width: inherit;
}
@media (min-width: 768px) {
  .section-education .img-holder {
    width: 47%;
    display: inline-block;
    margin-right: 2%;
  }
  .section-education .img-holder img {
    width: 100%;
  }
}

.what-i-do .skills {
  text-align: center;
  padding: 15px 0;
}
.what-i-do .skills li {
  display: inline-block;
  margin: 0 10px 20px 0;
  padding: 10px 20px;
  border: 1px solid #cccccc;
  border-radius: 30px;
}
.what-i-do .skills lispan:first-child {
  margin-right: 0px;
}

.my-work .row ul {
  display: flex;
}
.my-work .row .product-box {
  position: relative;
  width: 100%;
  border: 1px solid #cccccc;
  margin-bottom: 20px;
  display: inline-block;
}
@media (min-width: 768px) {
  .my-work .row .product-box {
    width: 47%;
    margin-right: 2%;
  }
}
.my-work .row .product-box a {
  width: inherit;
  display: block;
  text-align: right;
  margin-top: 40px;
}
.my-work .row .product-box img {
  border-bottom: 1px solid #cccccc;
  transition: 1s ease;
  backface-visibility: hidden;
  display: block;
  width: 100%;
  height: auto;
}
.my-work .row .product-box span {
  display: block;
  padding: 8px 15px;
  text-transform: uppercase;
}
.my-work .row .product-box h3 {
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 16px;
  margin: 0;
}
.my-work .row .product-box:nth-child(2) {
  margin-right: 0;
}
.my-work h4 {
  padding: 15px;
  font-size: 20px;
}

.hide-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 54px;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  transition: 0.5s ease;
}
.hide-content p {
  margin-bottom: 10px;
}
.hide-content .pr-description {
  transition: 0.6s ease;
  display: none;
}

.product-box:hover .hide-content {
  height: 100%;
  background: rgba(37, 37, 34, 0.8);
}

.product-box:hover .pr-description {
  display: block;
}

.pr-description {
  padding: 15px;
}

.contacts .container {
  text-align: center;
}
.contacts .container span {
  display: block;
}

footer {
  padding: 10px 0;
  font-size: 12px;
  background: #fafafa;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
footer span {
  display: block;
  text-align: center;
}

.social-icons {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.social-icons li {
  display: inline-block;
  text-align: center;
}
.social-icons li a {
  text-decoration: none;
  color: inherit;
}
.social-icons li a:before {
  content: "";
  background-size: cover;
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: -3px;
  margin-right: 10px;
}
.social-icons li #linkedin:before {
  background-image: url("images/icons/linkedin.png");
}
.social-icons li #github:before {
  background-image: url("images/icons/github.png");
}
.social-icons li #codepen:before {
  background-image: url("images/icons/codepen2.png");
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.contact-mail {
  margin-bottom: 20px;
}
.contact-mail::before {
  content: "";
  background-image: url("images/icons/envelope2.png");
  background-size: cover;
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: -3px;
  margin-right: 10px;
}

.list-of-works {
  display: flex;
  flex-direction: column;
}

.work-exmpl {
  display: flex;
  margin-bottom: 30px;
}
.work-exmpl .comment {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 30px;
}
.work-exmpl .img-holder {
  flex: 1;
  border: 1px solid #cccccc;
}
.work-exmpl .pr-description {
  text-align: right;
}
.work-exmpl .pr-description a {
  margin-top: 20px;
  display: block;
}

@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }
}
.nav-menu {
  vertical-align: top;
  margin-right: 0;
  margin-left: auto;
}
@media (max-width: 768px) {
  .nav-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(237, 237, 237, 0.1);
    padding: 60px 40px 40px 40px;
    text-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 769px) {
  .nav-menu {
    position: absolute;
    right: 0;
    top: 40px;
  }
}
.nav-menu a {
  text-decoration: none;
  color: inherit;
}
.nav-menu a:hover {
  color: #1a651a;
}
.nav-menu nav ul li {
  margin-bottom: 20px;
}
.nav-menu nav ul li:last-child {
  margin-bottom: 0;
}
@media (min-width: 769px) {
  .nav-menu nav ul li {
    display: inline-block;
    padding-right: 20px;
  }
  .nav-menu nav ul li:last-child {
    border-style: none;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .hamburger {
    position: absolute;
    top: 40px;
    right: 20px;
  }
  .hamburger span {
    display: block;
    width: 33px;
    height: 2px;
    margin-bottom: 5px;
    background: #333;
  }

  .close {
    position: absolute;
    right: 16px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }

  .close:hover {
    opacity: 1;
  }

  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 2px;
    background-color: #333;
  }

  .close:before {
    transform: rotate(45deg);
  }

  .close:after {
    transform: rotate(-45deg);
  }
}

/*# sourceMappingURL=main.css.map */
