body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: $color-text;
}
h1, h2, h3, h4 {
	font-family: 'Lato', sans-serif;
}
h1{
	font-size: 34px;
}
h2 {
	font-size: 21px;
  margin: 0 0 20px 0;
  text-align: center;
}
h3 {
	font-size: 18px;
	margin: 10px 0;
}

strong {
	font-weight: 700;
}

section{
	padding: 40px 0 40px 0;
	&:nth-child(odd){
		background: $section-background;
		border-top: 1px solid $color-sectiondivider;
		border-bottom: 1px solid $color-sectiondivider;
	}
}
.container {
	padding: 0 20px;
	max-width: 600px;
  margin: 0 auto;
  @media (min-width: 1024px){
  	max-width: 800px;
  }
}

img {
	width: inherit;
}
a {
	text-decoration: none;
	color: inherit;
}
.img-holder {
	max-width: 290px;
}

.description {
	p {
		padding-left: 20px;
		position: relative;
		&:before { // arrow - right
			content: "";
			display: inline-block;
			width: 0; 
		  height: 0; 
		  border-top: 7px solid transparent;
		  border-bottom: 7px solid transparent;
		  border-left: 7px solid $color-bulletpoints;
			position: absolute;
			top: 4px;
			left: 0;
		}
	}
}

.list {
	margin-top: 20px;
	li {
		position: relative;
		padding-left: 20px;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
		&:before{
			content: "";
			display: inline-block;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background: $color-bulletpoints;
			position: absolute;
			top: 8px;
			left: 0;
		}
	}
}