
// color variables (colors piked from header image)

//$color-bulletpoints: #008000; // green color
$color-bulletpoints: #1a651a;  // 
$color-text: #333; // black color for text
$color-sectiondivider: #ebebeb; // light grey color
$color-border: #cccccc; // grey color
$button-background: #3ec152; // light green
$section-background: #fafafa;


$color-b: #FFFFFF; // white color




