
// color variables (colors piked from header image)

$color-bulletpoints: #008000; // green color
$color-text: #333; // black color for text
$color-sectiondivider: #ebebeb; // light grey color
$color-border: #cccccc; // grey color

$color-b: #FFFFFF; // white color

$color-c: #38CEF3; // sky blue color
$color-d: #FB9E58; // orange
$color-e: #B0EAB7; // light green
$color-f: #E4DFCC; //light gray-cream

$color-g: #3F4A46; // dark gray
$color-h: #C4CBB9; // light gray
$color-i: #353535; // dark gray/black
